papofeed_v02/bins/Output/papo_documentation/papo_documentation/_downloads/password_policy_template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="ppt" xmlns:ns1="ppt">
  <xs:element name="questionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:xmlversion"/>
        <xs:element ref="ns1:qaversion"/>
        <xs:element ref="ns1:BNFversion"/>
        <xs:element ref="ns1:navigation"/>
        <xs:element ref="ns1:index"/>
        <xs:element ref="ns1:questions"/>
        <xs:element ref="ns1:additional_comments"/>
        <xs:element ref="ns1:static_text"/>
        <xs:element ref="ns1:general_comments"/>
        <xs:element ref="ns1:demographics_survey"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xmlversion" type="xs:string"/>
  <xs:element name="qaversion" type="xs:string"/>
  <xs:element name="BNFversion" type="xs:string"/>
  <xs:element name="navigation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:next"/>
        <xs:element ref="ns1:back"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="next">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="back">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="index">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="ns1:group" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="grouping" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:question" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="additional_comments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:comments" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comments">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="ns1:text" minOccurs="0"/>
        <xs:element ref="ns1:instructions" minOccurs="0"/>
        <xs:element ref="ns1:note" minOccurs="0"/>
        <xs:element ref="ns1:response" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="display_when" type="xs:IDREF"/>
      <xs:attribute name="display_where" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="static_text">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:masthead"/>
        <xs:element ref="ns1:help_text"/>
        <xs:element ref="ns1:sign_in"/>
        <xs:element ref="ns1:sign_up"/>
        <xs:element ref="ns1:user_home"/>
        <xs:element ref="ns1:contact"/>
        <xs:element ref="ns1:admin_configure"/>
        <xs:element ref="ns1:admin_reporting"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="masthead" type="xs:string"/>
  <xs:element name="help_text" type="xs:string"/>
  <xs:element name="sign_in">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:pgtitle">
          <xs:sequence>
            <xs:element ref="ns1:username" minOccurs="0"/>
            <xs:element ref="ns1:no_account" minOccurs="0"/>
            <xs:element ref="ns1:intro_text" minOccurs="0"/>
            <xs:element ref="ns1:instructions" minOccurs="0"/>
            <xs:element ref="ns1:error_text" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="username" type="xs:string"/>
  <xs:element name="no_account" type="xs:string"/>
  <xs:element name="error_text" type="xs:string"/>
  <xs:element name="sign_up">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:pgtitle">
          <xs:sequence>
            <xs:element ref="ns1:has_account" minOccurs="0"/>
            <xs:element ref="ns1:name_taken" minOccurs="0"/>
            <xs:element ref="ns1:intro_text" minOccurs="0"/>
            <xs:element ref="ns1:instructions" minOccurs="0"/>
            <xs:element ref="ns1:success" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="has_account" type="xs:string"/>
  <xs:element name="name_taken" type="xs:string"/>
  <xs:element name="success" type="xs:string"/>
  <xs:element name="user_home">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:pgtitle">
          <xs:sequence>
            <xs:element ref="ns1:intro_text" minOccurs="0"/>
            <xs:element ref="ns1:instructions" minOccurs="0"/>
            <xs:element ref="ns1:sub_section" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="ns1:general_comment_link" minOccurs="0"/>
            <xs:element ref="ns1:general_comment_text" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sub_section">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:section_title" minOccurs="0"/>
        <xs:element ref="ns1:section_text" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="section_title" type="xs:string"/>
  <xs:element name="section_text" type="xs:string"/>
  <xs:element name="general_comment_link" type="xs:string"/>
  <xs:element name="general_comment_text" type="xs:string"/>
  <xs:element name="contact">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:pgtitle">
          <xs:sequence>
            <xs:element ref="ns1:intro_text" minOccurs="0"/>
            <xs:element ref="ns1:note" minOccurs="0"/>
            <xs:element ref="ns1:admin" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="admin">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:name"/>
        <xs:element ref="ns1:email"/>
        <xs:element ref="ns1:telephone"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="email" type="xs:string"/>
  <xs:element name="telephone" type="xs:string"/>
  <xs:element name="admin_configure" type="ns1:pgtitle"/>
  <xs:element name="admin_reporting" type="ns1:pgtitle"/>
  <xs:element name="general_comments">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:pgtitle">
          <xs:sequence>
            <xs:element ref="ns1:intro_text" minOccurs="0"/>
            <xs:element ref="ns1:question" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="demographics_survey">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:pgtitle">
          <xs:sequence>
            <xs:element ref="ns1:intro_text"/>
            <xs:element ref="ns1:instructions"/>
            <xs:element ref="ns1:submit_text"/>
            <xs:element ref="ns1:question" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="submit_text" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="ns1:group" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="ns1:instructions" minOccurs="0"/>
        <xs:element ref="ns1:text" minOccurs="0"/>
        <xs:element ref="ns1:page" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="back"/>
      <xs:attribute name="comment_ref"/>
      <xs:attribute name="level" use="required" type="xs:integer"/>
      <xs:attribute name="next"/>
      <xs:attribute name="title"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="page">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:instructions" minOccurs="0"/>
          <xs:element ref="ns1:text" minOccurs="0"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:include" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="back"/>
      <xs:attribute name="comment_ref"/>
      <xs:attribute name="next"/>
      <xs:attribute name="title"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="include">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="ns1:element_ref" minOccurs="0"/>
        <xs:element ref="ns1:attribute_ref" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="clone_ref" type="xs:IDREFS"/>
      <xs:attribute name="qref" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="element_ref" type="xs:string"/>
  <xs:element name="attribute_ref" type="xs:string"/>
  <xs:element name="question">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded" minOccurs="0">
        <xs:element minOccurs="0" ref="ns1:title"/>
        <xs:element ref="ns1:text" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="ns1:note" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="ns1:BNF_mapping" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="ns1:instructions" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="ns1:response" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="display_when"/>
      <xs:attribute name="display_where"/>
      <xs:attribute name="id" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType mixed="true">
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="instructions">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded" minOccurs="0">
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:text"/>
        <xs:element ref="ns1:validation" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element minOccurs="0" ref="ns1:BNF_mapping" maxOccurs="unbounded"/>
        <xs:element ref="ns1:note" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="ns1:option" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="option">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="ns1:text" minOccurs="0"/>
        <xs:element ref="ns1:BNF_mapping" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="ns1:note" minOccurs="0"/>
        <xs:element ref="ns1:validation" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="clone"/>
      <xs:attribute name="id" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="pgtitle">
    <xs:sequence>
      <xs:element ref="ns1:pgtitle" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pgtitle" type="xs:string"/>
  <xs:element name="intro_text">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BNF_mapping">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:when"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="when">
    <xs:complexType>
      <xs:attribute name="ref" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="validation">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="format" type="xs:string"/>
  <xs:element name="length" type="xs:string"/>
</xs:schema>
